In [14]:
from sqlalchemy import create_engine
import pandas as pd
import poloniex
import datetime

In [15]:
'''
aula de hj - 24/jan/2018

RAM é uma memória volátil
- é onde ficam os programas em execução

Disco é uma memória permanente

vc quer guardar seus dados num banco de dados (BD) porque:
1) não perde os dados quando desliga o computador
2) capacidade disco >> RAM (ex: teras x gigas)

como o BD é uma estrutura de dados dinâmicaas, vc pode carregar só parte dele na memória para ir fazendo as contas e salvando os resultados nele mesmo, assim não estoura a memória

vantagem BD x planilha:
- BD garante a tipagem dos dados, já a planilha não. Se vc tem uma coluna chamada data, pode entrar (na planilha) um "xyz" qq sem querer, já no BD não
- BD tem a vantagem da linguagem SQL (Structured Query Language, Linguagem de Consulta Estruturada, uma linguagem declarativa que facilita encontrar coisas dentro de um conj de dados muito grande)

ex: Select date, avg(close) from BTC_bitfinex where close>1000 group by week(date)

vamos olhar agora o sqlite.org

SQLite já vem dentro do python, uhull!! só dar um import sqlite3

SQLite inclusive pode ser usado fora do Python


Class Analise
C = capturador (...)
C.captura(...)
A = analise(C)

Class Capturador
def __init__ (self, xch, par)
    ....
    
def captura (self, ini, fim)
    ...

def salva (self)

Tem que fazer o mínimo do projeto, e tentar algo a mais
- colocar um gráfico dinâmico, que permita por exemplo a visualização dinâmica (mudar horizonte analisado, etc)

olha que legal o orderbook:
https://www.bfxdata.com/orderbooks/btcusd

Usamos tb:
http://localhost:8888/notebooks/Documents/GitHub/crypto_algo_trading/CCXT%20tutorial.ipynb
http://localhost:8888/notebooks/Documents/GitHub/crypto_algo_trading/Visualizations%20Time%20series%20analyses.ipynb


'''

'\naula de hj - 24/jan/2018\n\nRAM é uma memória volátil\n- é onde ficam os programas em execução\n\nDisco é uma memória permanente\n\nvc quer guardar seus dados num banco de dados (BD) porque:\n1) não perde os dados quando desliga o computador\n2) capacidade disco >> RAM (ex: teras x gigas)\n\ncomo o BD é uma estrutura de dados dinâmicaas, vc pode carregar só parte dele na memória para ir fazendo as contas e salvando os resultados nele mesmo, assim não estoura a memória\n\nvantagem BD x planilha:\n- BD garante a tipagem dos dados, já a planilha não. Se vc tem uma coluna chamada data, pode entrar (na planilha) um "xyz" qq sem querer, já no BD não\n- BD tem a vantagem da linguagem SQL (Structured Query Language, Linguagem de Consulta Estruturada, uma linguagem declarativa que facilita encontrar coisas dentro de um conj de dados muito grande)\n\nex: Select date, avg(close) from BTC_bitfinex where close>1000 group by week(date)\n\nvamos olhar agora o sqlite.org\n\nSQLite já vem dentro do python, uhull!! só dar um import sqlite3\n\nSQLite inclusive pode ser usado fora do Python\n\n\n'

In [4]:
import sqlite3

In [7]:
create_engine?

In [9]:
conexao = create_engine('sqlite:///teste.sqlite')

In [12]:
r = conexao.execute('select * from teste;')
r.fetchall()
# se vc tivesse já uma tabela teste já preenchida, veria aqui

OperationalError: (sqlite3.OperationalError) no such table: teste [SQL: 'select * from teste;']

In [16]:
end = datetime.datetime.now()
start = end - datetime.timedelta(days=360)
ether = poloniex.get_ohlc('USDT_ETH',start, end)

Downloading USDT_ETH from 2017-01-29 15:15:12.801221 to 2018-01-24 15:15:12.801221.

In [17]:
ether.head

<bound method NDFrame.head of                            close         high          low         open  \
date
2017-01-29 17:20:00    10.478663    10.478663    10.478663    10.478663
2017-01-29 17:25:00    10.430000    10.481214    10.430000    10.481213
2017-01-29 17:30:00    10.430000    10.430000    10.430000    10.430000
2017-01-29 17:35:00    10.480518    10.480518    10.480518    10.480518
2017-01-29 17:40:00    10.480518    10.480518    10.480518    10.480518
2017-01-29 17:45:00    10.425000    10.487519    10.425000    10.480517
2017-01-29 17:50:00    10.444754    10.444754    10.438301    10.438301
2017-01-29 17:55:00    10.444754    10.444754    10.444754    10.444754
2017-01-29 18:00:00    10.444754    10.444754    10.444754    10.444754
2017-01-29 18:05:00    10.440237    10.440237    10.440237    10.440237
2017-01-29 18:10:00    10.440237    10.440237    10.440237    10.440237
2017-01-29 18:15:00    10.430000    10.440237    10.430000    10.440237
2017-01-29 18:20:00    10.430001    10.430001    10.430000    10.430000
2017-01-29 18:25:00    10.430000    10.430000    10.430000    10.430000
2017-01-29 18:30:00    10.430000    10.430000    10.430000    10.430000
2017-01-29 18:35:00    10.430000    10.430000    10.430000    10.430000
2017-01-29 18:40:00    10.444754    10.444754    10.430000    10.430001
2017-01-29 18:45:00    10.430000    10.444754    10.430000    10.444754
2017-01-29 18:50:00    10.430000    10.430000    10.430000    10.430000
2017-01-29 18:55:00    10.425000    10.430000    10.425000    10.430000
2017-01-29 19:00:00    10.425000    10.444754    10.425000    10.444754
2017-01-29 19:05:00    10.414357    10.425000    10.414357    10.425000
2017-01-29 19:10:00    10.448148    10.448148    10.444754    10.444754
2017-01-29 19:15:00    10.448148    10.448148    10.448148    10.448148
2017-01-29 19:20:00    10.448148    10.448148    10.448148    10.448148
2017-01-29 19:25:00    10.448272    10.448272    10.448272    10.448272
2017-01-29 19:30:00    10.448272    10.448272    10.448272    10.448272
2017-01-29 19:35:00    10.416267    10.417120    10.416267    10.417120
2017-01-29 19:40:00    10.400000    10.448351    10.400000    10.448351
2017-01-29 19:45:00    10.400000    10.400000    10.400000    10.400000
...                          ...          ...          ...          ...
2018-01-24 14:45:00  1045.000000  1055.270571  1043.206846  1054.286080
2018-01-24 14:50:00  1046.879454  1049.706846  1041.774454  1045.000000
2018-01-24 14:55:00  1045.900000  1046.000000  1043.779454  1045.419228
2018-01-24 15:00:00  1041.774454  1044.826451  1041.774454  1043.119228
2018-01-24 15:05:00  1037.685500  1045.900000  1037.632875  1041.774454
2018-01-24 15:10:00  1030.000000  1037.685500  1029.000000  1037.632875
2018-01-24 15:15:00  1030.000000  1040.518287  1024.979224  1029.000000
2018-01-24 15:20:00  1032.283019  1035.272440  1028.128390  1033.972440
2018-01-24 15:25:00  1034.504279  1034.504279  1029.983019  1029.983019
2018-01-24 15:30:00  1031.000000  1038.997535  1031.000000  1034.504279
2018-01-24 15:35:00  1027.707413  1031.033096  1027.707413  1030.000000
2018-01-24 15:40:00  1032.033096  1032.033442  1027.218160  1029.033096
2018-01-24 15:45:00  1032.333096  1032.433096  1030.000000  1030.000000
2018-01-24 15:50:00  1021.000000  1032.333096  1021.000000  1032.333096
2018-01-24 15:55:00  1014.000000  1024.535509  1014.000000  1023.733096
2018-01-24 16:00:00  1012.977394  1016.752142  1012.977394  1016.752142
2018-01-24 16:05:00  1016.605905  1021.000000  1011.955605  1012.977394
2018-01-24 16:10:00  1012.841786  1016.605905  1008.145945  1015.171050
2018-01-24 16:15:00  1013.512500  1016.239602   996.077080  1011.000000
2018-01-24 16:20:00  1011.823859  1015.110000  1011.445812  1013.110000
2018-01-24 16:25:00  1012.000000  1015.110000  1010.239601  1011.823859
2018-01-24 16:30:00  1015.000000  1015.000000  1010.239601  1014.110000
2018-01-24 16:35:00  1021.126508  1021.719238  1011.419238  1013.639292
2018-01-24 16:40:00  1018.158637  1024.158637  1017.158637  1021.719238
2018-01-24 16:45:00  1020.531360  1022.197526  1016.797526  1018.158637
2018-01-24 16:50:00  1018.898100  1021.000000  1018.831360  1019.898100
2018-01-24 16:55:00  1020.078231  1020.078231  1017.292916  1018.278231
2018-01-24 17:00:00  1013.359626  1020.078232  1013.359626  1020.078232
2018-01-24 17:05:00  1015.933060  1017.150010  1011.978231  1013.249821
2018-01-24 17:10:00  1005.027929  1013.048286  1001.990000  1013.048286

                     quoteVolume         volume  weightedAverage
date
2017-01-29 17:20:00     0.000000       0.000000        10.478663
2017-01-29 17:25:00    52.798577     553.344656        10.480295
2017-01-29 17:30:00     0.000000       0.000000        10.430000
2017-01-29 17:35:00     0.021135       0.221502        10.480518
2017-01-29 17:40:00     0.000000       0.000000        10.480518
2017-01-29 17:45:00   741.207482    7768.308521        10.480613
2017-01-29 17:50:00     2.997552      31.302181        10.442581
2017-01-29 17:55:00     0.000000       0.000000        10.444754
2017-01-29 18:00:00     0.387931       4.051847        10.444754
2017-01-29 18:05:00     4.812909      50.247906        10.440237
2017-01-29 18:10:00     0.103326       1.078748        10.440237
2017-01-29 18:15:00     3.585210      37.415085        10.435954
2017-01-29 18:20:00     2.661535      27.759809        10.430000
2017-01-29 18:25:00     0.400000       4.172000        10.430000
2017-01-29 18:30:00     0.016900       0.176267        10.430000
2017-01-29 18:35:00     0.000000       0.000000        10.430000
2017-01-29 18:40:00     2.754826      28.740529        10.432791
2017-01-29 18:45:00     4.031126      42.044954        10.430077
2017-01-29 18:50:00     0.000000       0.000000        10.430000
2017-01-29 18:55:00    58.602738     611.018040        10.426442
2017-01-29 19:00:00     1.610968      16.808006        10.433486
2017-01-29 19:05:00   536.931956    5592.025168        10.414774
2017-01-29 19:10:00     1.928700      20.150021        10.447463
2017-01-29 19:15:00     0.000000       0.000000        10.448148
2017-01-29 19:20:00     0.000000       0.000000        10.448148
2017-01-29 19:25:00     0.700000       7.313791        10.448272
2017-01-29 19:30:00     0.000000       0.000000        10.448272
2017-01-29 19:35:00     0.017300       0.180210        10.416760
2017-01-29 19:40:00   335.054000    3484.606596        10.400134
2017-01-29 19:45:00    67.480020     701.792208        10.400000
...                          ...            ...              ...
2018-01-24 14:45:00   310.640224  326797.041604      1052.011351
2018-01-24 14:50:00    96.727046  101034.876144      1044.535945
2018-01-24 14:55:00    55.331970   57859.938183      1045.687292
2018-01-24 15:00:00    33.628449   35096.773760      1043.663185
2018-01-24 15:05:00    47.262824   49204.305746      1041.078417
2018-01-24 15:10:00   126.604136  130736.607381      1032.640889
2018-01-24 15:15:00    86.578931   89193.528771      1030.199011
2018-01-24 15:20:00    28.749887   29631.538672      1030.666249
2018-01-24 15:25:00    24.585659   25381.438282      1032.367627
2018-01-24 15:30:00   124.773516  129044.864489      1034.232813
2018-01-24 15:35:00    57.390390   59054.914607      1029.003541
2018-01-24 15:40:00    51.420387   52921.630173      1029.195476
2018-01-24 15:45:00    14.505683   14969.348097      1031.964341
2018-01-24 15:50:00    57.344351   59066.501987      1030.031752
2018-01-24 15:55:00    42.327111   43066.401763      1017.466136
2018-01-24 16:00:00    63.132470   64038.653264      1014.353683
2018-01-24 16:05:00    28.443508   28876.941201      1015.238398
2018-01-24 16:10:00   106.218067  107310.707432      1010.286766
2018-01-24 16:15:00   357.834683  359644.519708      1005.057746
2018-01-24 16:20:00   138.564648  140197.629283      1011.784977
2018-01-24 16:25:00    30.402672   30819.941786      1013.724780
2018-01-24 16:30:00    48.187822   48822.145774      1013.163561
2018-01-24 16:35:00    55.459032   56250.269493      1014.267061
2018-01-24 16:40:00    62.097401   63466.387424      1022.045792
2018-01-24 16:45:00    65.592968   66906.509877      1020.025652
2018-01-24 16:50:00     6.627741    6758.113820      1019.670747
2018-01-24 16:55:00    13.984212   14262.608587      1019.907908
2018-01-24 17:00:00    23.329532   23708.558536      1016.246636
2018-01-24 17:05:00    53.360475   54153.229546      1014.856581
2018-01-24 17:10:00    66.594432   67146.838416      1008.295087

[103679 rows x 7 columns]>

In [18]:
conexao2 = create_engine('sqlite:///ether.sqlite')

In [20]:
ether.to_sql?

In [22]:
ether.to_sql('poloniex', conexao2)

In [23]:
r = conexao2.execute('select * from poloniex limit 5;')
r.fetchall()

[('2017-01-29 17:20:00.000000', 10.47866276, 10.47866276, 10.47866276, 10.47866276, 0.0, 0.0, 10.47866276),
 ('2017-01-29 17:25:00.000000', 10.43, 10.48121365, 10.43, 10.48121256, 52.79857693, 553.34465559, 10.48029488),
 ('2017-01-29 17:30:00.000000', 10.43, 10.43, 10.43, 10.43, 0.0, 0.0, 10.43),
 ('2017-01-29 17:35:00.000000', 10.48051761, 10.48051761, 10.48051761, 10.48051761, 0.02113461, 0.22150165, 10.48051761),
 ('2017-01-29 17:40:00.000000', 10.48051761, 10.48051761, 10.48051761, 10.48051761, 0.0, 0.0, 10.48051761)]

In [24]:
pd.read_sql_query?

In [25]:
df = pd.read_sql_query('select * from poloniex limit 5;', conexao2)
df

,date,close,high,low,open,quoteVolume,volume,weightedAverage
0,2017-01-29 17:20:00.000000,10.478663,10.478663,10.478663,10.478663,0.000000,0.000000,10.478663
1,2017-01-29 17:25:00.000000,10.430000,10.481214,10.430000,10.481213,52.798577,553.344656,10.480295
2,2017-01-29 17:30:00.000000,10.430000,10.430000,10.430000,10.430000,0.000000,0.000000,10.430000
3,2017-01-29 17:35:00.000000,10.480518,10.480518,10.480518,10.480518,0.021135,0.221502,10.480518
4,2017-01-29 17:40:00.000000,10.480518,10.480518,10.480518,10.480518,0.000000,0.000000,10.480518

In [3]:
btc.index

NameError: name 'btc' is not defined